<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE sd7config SYSTEM "http://7d7.almlys.org/spec/draft/sd7Config.dtd">
<sd7config>

	<section name='global'>
		<option name='BootStrap.downloadPath' value='downloads' />
		<option name='BootStrap.outputPath' value='depends' />
		<option name='BootStrap.prefix' value='runtime' />
		<option name='BootStrap.patches' value='patches' />
		<option name='BootStrap.manifest' value='config/bootstrap.xml' />
		<option name='Engine.OgreRenderer.PluginsPath' value='runtime/lib/OGRE' />
		<option name='graphics.fullscreen' value='false' />
		<option name='graphics.width' value='800' />
		<option name='graphics.height' value='600' />
		<option name='app.gettext.locales' value='data/system/locales' />
		<option name='app.gettext.domain' value='sd7Engine' />
		<option name='system.logdir' value='log' />
		<option name='python.psyco' value='enabled' />
		<option name='python.psyco.log' value='enabled' />
		<option name='ogre.renderer' value='OpenGL' />
		<option name='input.actionmap' value='config/input.xml' />
		<option name='system.hooks' value='config/hooks.xml' />
	</section>

	<section name='engine.OgreRenderer.plugins'>
		<option name='RenderSystem_Direct3D9' value='disabled' />
		<option name='RenderSystem_GL' value='enabled' />
		<option name='Plugin_ParticleFX' value='enabled' />
		<option name='Plugin_BSPSceneManager' value='enabled' />
		<option name='Plugin_OctreeSceneManager' value='enabled' />
		<option name='Plugin_CgProgramManager' value='enabled' />
		<option name='Plugin_EXRCodec' value='enabled' />
	</section>

</sd7config>