<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE sd7config SYSTEM "http://7d7.almlys.org/spec/draft/sd7Config.dtd">
<sd7config>

	<section name="global">
		<option name='BootStrap.downloadPath' value='downloads' />
		<option name='BootStrap.outputPath' value='depends' />
		<option name='BootStrap.prefix' value='runtime' />
		<option name='BootStrap.patches' value='patches' />
		<option name='BootStrap.manifest' value='config/bootstrap.xml' />
	</section>

</sd7config>